@import './../../stylus'

btn(w = false, h = false)
    if (w)
        width: w px

    if (h)
        height: h px

    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    cursor: pointer
    box-sizing: border-box
    transition: all .3s
    border: 0
    font-size: 18px
    font-weight: 500
    outline: 0

    &:focus
        outline: 0

btn-white()
    // color: $md-gray-600
    background-color: $md-gray-100
    box-shadow: 0 4px 18px -3px rgba($md-gray-500, .4)

    &:hover
        background-color: $md-gray-300
        box-shadow: none

btn-gray()
    color: #FFF
    background-color: $colors['gray']
    box-shadow: 0 4px 18px -3px rgba($colors['gray'], .4)

    &:hover
        background-color: $colors['gray-dark']
        box-shadow: none

