@import './../../stylus'

.header
    background: $colors['gray']

    &_wide
        .layout-container
            max-width: none

    &__inner
        display: flex
        height: 52px
        box-sizing: border-box
        padding: 0 22px
        align-items: center
        color: #FFF

    &__logo
        font-size: 20px

    &__user
        flex-grow: 1
        display: flex
        justify-content: flex-end
        box-sizing: border-box

    &__logout
        cursor: pointer
