@import './../../../stylus'

.layout__container
    position: relative
    width: 100%
    min-width: 320px
    max-width: $breakpoints[xl]
    margin-left: auto
    margin-right: auto
    box-sizing: border-box

    +width-lessthan($breakpoints[md])
        padding-left: 10px
        padding-right: 10px
