
@import './../../../stylus'

.form-textarea
    height: 150px
    width: 100%
    font-size: 16px
    padding: 16px 24px
    box-sizing: border-box
    input-shadow-gray()
    background: #FFF
    border: 1px solid transparent
    border-radius: 8px
    outline: none
    -webkit-appearance: none

    &:focus
        outline: none

    &:-webkit-autofill
        -webkit-box-shadow: 0 0 0 50px #CCC inset
        background-color: transparent !important
