@import './../../../stylus'

.form-field
    margin-bottom: 30px
    display: block

    &__label
        margin-bottom: 10px

    &__sublabel
        font-size: 80%
        color: $md-gray-400
        margin-left: 10px

    &__input
        display: flex
        position: relative
