@import './../../stylus'

.loader
    z-index: 12
    position: absolute
    width: 100%
    height: 100vh
    overflow: hidden
    background: $md-gray-100
    visibility: hidden
    opacity: 0
    transition: visibility .61s, opacity .6s ease-out

    &_active
        visibility: visible
        opacity: 1

        & + .layout
            display: none

    &__content
        z-index: 1
        position: absolute
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        padding: 0 30px
        box-sizing: border-box
