@import './stylus'

*
    -webkit-font-smoothing: antialiased

body, figure, button, div, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, img, li, p, pre, table, td, th, tr, ul
    margin: 0
    padding: 0

ul
    list-style-type: none


// ______ LAYOUT _______
html
    height: 100%

body
    height: 100%
    overflow-x: hidden
    overflow-y: auto
    font-family: $font
    color: $color
    background: $colors['bg']
    font-size: 16px
