.layout
    z-index: 1
    position: relative
    display: flex
    flex-direction: column
    min-height: 100vh
    width: 100%

    &__pages
        box-sizing: border-box
        flex-grow: 1
        display: flex
        flex-direction: column
        position: relative
