@import './../../stylus'

$containerW = 1200
$ideaW = 380

.page-home
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__title
        font-size: 20px
        font-weight: 500
        margin-bottom: 40px
        color: $md-gray-800
        +width-lessthan($containerW)
            margin-top: 40px

    &__articles
        max-width: ($containerW)px
        width: 100%
        box-sizing: border-box
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        +width-lessthan($containerW)
            justify-content: space-around

        &_center
            justify-content: space-around

    &__article
        display: flex
        flex-direction: column
        width: ($ideaW)px

        +width-lessthan($containerW)
            margin-bottom: 50px

        &__inner
            border: 1px solid $md-gray-400
            border-radius: 8px
            box-sizing: border-box
            padding: 30px 15px

        &__id
            text-align: center
            font-size: 14px

        &__title
            text-align: center
            margin-top: 4px
            font-size: 14px

        &__text
            margin-top: 20px
            width: 100%
            height: 270px
            font-size: 14px
            overflow: auto
            box-sizing: border-box
            padding-right: 10px
            line-height: 1.3

        &__votes
            display: flex
            justify-content: center
            margin-top: 20px

        &__vote
            cursor: pointer
            margin-right: 10px
            width: 50px
            height: 50px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            box-sizing: border-box
            transition: all .2s

            span
                width: 25px
                height: 25px
                position: relative

            &_like
                border: 1px solid #2e7d32

                span
                    top: -2px
                    background-image: url('./../../assets/img/like.svg')

            &_dislike
                border: 1px solid #c62828

                span
                    top: 2px
                    background-image: url('./../../assets/img/dislike.svg')

            &_active, &:hover
                &.page-home__article__vote_like
                    background: #2e7d32

                    span
                        background-image: url('./../../assets/img/like-active.svg')

                &.page-home__article__vote_dislike
                    background: #c62828

                    span
                        background-image: url('./../../assets/img/dislike-active.svg')

    &__next
        margin-top: 40px
        +width-lessthan($containerW)
            margin-bottom: 60px

        .button
            width: 296px
