@import './colors.styl'

$breakpoints = {
    xs: 0,
    sm: 374px,
    md: 768px,
    lg: 1024px,
    xl: 1250px
}

$fonts = {
    text: Montserrat \, Arial,
}

$font = $fonts['text'] // default

$colors = {
    white: $md-white,
    black: $md-black,
    bg: $md-gray-50,
    bg-dark: $md-gray-200,
    gray: $md-gray-500,
    gray-dark: $md-gray-600,
}

$color = $colors['black'] // default
