
import-font(originalname, newname)
    @font-face
        font-family: newname
        src: url('./../fonts/' + originalname + '.eot')
        src: url('./../fonts/' + originalname + '.eot?#iefix') format('embedded-opentype'), url('./../fonts/' + originalname + '.woff') format('woff'), url('./../fonts/' + originalname + '.ttf') format('truetype')
        font-weight: normal
        font-style: normal
